:root {
  --cu-red: #a50034;
  --white: #ffffff;
  --black: #231f20;
  --red: #a50031;
  --sand: #f6f2ea;
  --futura: "futura-pt", Arial, sans-serif; }

.text-bold {
  font-weight: bold; }

.text-muted {
  font-weight: 400; }

.text-muted--300 {
  font-weight: 300; }

.futura {
  font-family: var(--futura); }

.text-red {
  color: var(--red); }

.text-black {
  color: var(--black); }

.bg-sand {
  background-color: var(--sand); }

.bg-black {
  background-color: var(--black);
  color: white; }

.faux-h2 {
  font-weight: bold; }

.cu-nav {
  font-family: var(--futura); }
  .cu-nav__inner {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cu-nav__logo img {
    height: 3.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
    @media only screen and (max-width: 64rem) {
      .cu-nav__logo img {
        width: 100%;
        height: auto; } }

.cu-mastead {
  max-height: 31.25rem;
  margin: 0;
  color: var(--white);
  font-family: var(--futura);
  background-image: url("./images/mfa-doc-slider.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position: static;
  position: relative;
  min-height: 34.375rem;
  top: 0;
  margin-top: 0;
  padding-top: 0;
  -webkit-mask-size: 100% 100%; }

.cu-masthead__header {
  display: grid;
  grid-template-columns: 40% 60%; }
  @media only screen and (max-width: 64rem) {
    .cu-masthead__header {
      grid-template-columns: unset; } }
  .cu-masthead__header--wrapper {
    background-image: url(images/wave_border_bottom.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 9.375rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: end; }
    @media only screen and (max-width: 64rem) {
      .cu-masthead__header--wrapper {
        min-height: 18.75rem; } }

.cu-masthead__wrapper {
  height: 37.5rem; }
.cu-masthead__label {
  grid-column: 2;
  max-width: 34.375rem;
  font-weight: bold;
  font-size: 1.875rem;
  min-height: 8.125rem;
  display: flex;
  align-items: center;
  justify-self: center; }
  @media only screen and (max-width: 64rem) {
    .cu-masthead__label {
      min-height: 13.125rem;
      max-width: 80vw;
      place-content: center;
      place-items: center;
      align-items: center;
      justify-content: center;
      display: flex; } }

.slate-form__wrapper {
  z-index: 2;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  max-width: 31.25rem;
  position: absolute;
  margin-left: 115px;
  margin-top: -9.375rem;
  width: 25rem; }
  .slate-form__wrapper[data-sticky="true"] {
    position: sticky;
    top: 0; }
  .slate-form__wrapper > div:first-child {
    position: absolute;
    background-color: var(--white);
    font-family: var(--futura); }
  .slate-form__wrapper label.form_label {
    font-weight: bold; }
  .slate-form__wrapper input,
  .slate-form__wrapper select {
    border: 0.125rem solid lightgrey;
    height: 3.125rem;
    width: 18.75rem;
    border-radius: 0.25rem; }
    @media only screen and (max-width: 64rem) {
      .slate-form__wrapper input,
      .slate-form__wrapper select {
        width: 100%; } }
  .slate-form__wrapper .action {
    display: flex;
    justify-content: center; }
    .slate-form__wrapper .action button.default {
      background-color: var(--red);
      color: var(--white);
      border: none;
      border-radius: 0.25rem;
      font-family: var(--futura);
      min-width: 5rem;
      font-size: 1.25rem;
      padding: 0.25rem; }
  .slate-form__wrapper form {
    padding: 1.875rem;
    padding-bottom: 1.25rem; }

section {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  font-family: var(--futura);
  font-size: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
  section.program-info {
    background-color: var(--sand); }
  section.why {
    background-color: var(--sand); }
    @media only screen and (max-width: 64rem) {
      section.why {
        background-color: var(--white); } }
  section.testimonial__wrapper {
    background-color: var(--sand); }
  @media only screen and (max-width: 64rem) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  section > div {
    grid-column: 2;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    max-width: 36.25rem;
    min-width: 36.25rem; }
    @media only screen and (max-width: 36.3125rem) {
      section > div {
        max-width: 80vw;
        min-width: 80vw; } }
  section__stats {
    display: flex; }
  section .program-stat {
    margin-right: 2.5rem; }
    section .program-stat__value {
      margin-left: 3rem; }
  section .icon {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 0.75rem;
    font-size: 1.875rem; }

ul.why {
  list-style: none;
  padding-left: 0;
  margin-top: 1.25rem; }
  ul.why .icon {
    margin-right: 1.5rem;
    color: var(--red); }
  ul.why li {
    padding: 0.75rem; }

.testimonial {
  display: grid;
  grid-template-columns: 20% 80%; }
  @media only screen and (max-width: 64rem) {
    .testimonial {
      display: block; } }
  .testimonial__photo-wrapper {
    display: flex;
    place-content: center; }
  .testimonial img {
    place-self: center;
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover; }
    @media only screen and (max-width: 64rem) {
      .testimonial img {
        margin-bottom: 1.25rem; } }
  .testimonial__text {
    margin-left: 2.5rem;
    grid-column: 2; }
    @media only screen and (max-width: 64rem) {
      .testimonial__text {
        margin-left: 0; } }
  .testimonial__name {
    margin-left: 2.5rem;
    grid-column: 2;
    margin-top: 1.25rem; }
    @media only screen and (max-width: 64rem) {
      .testimonial__name {
        margin-left: 0; } }

.bottom-cta {
  font-family: var(--futura);
  display: grid;
  padding: 1.875rem;
  justify-content: center;
  font-size: 1.5rem; }
  .bottom-cta__text-wrapper {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bottom-cta__text-wrapper > div, .bottom-cta__text-wrapper > a {
      margin-top: 1.875rem; }
  .bottom-cta__description {
    max-width: 46.875rem; }
  .bottom-cta__cta {
    background-color: var(--red);
    max-width: max-content;
    padding: 1.25rem;
    border-radius: 0.25rem;
    font-weight: bold;
    min-width: 15.625rem;
    color: var(--white);
    text-decoration: none;
    margin-bottom: 1.875rem; }

.mobile-only {
  display: none; }
  @media only screen and (max-width: 64rem) {
    .mobile-only {
      display: block;
      height: auto; } }
  .mobile-only .slate-form__wrapper[data-sticky="true"] {
    position: relative;
    top: unset; }
  .mobile-only .slate-form__wrapper > div:first-child {
    position: relative;
    height: 100%; }
  .mobile-only div {
    position: relative;
    width: 100%; }
  .mobile-only form {
    width: auto;
    padding-bottom: 0; }
  .mobile-only .slate-form__wrapper {
    max-width: 100%;
    min-width: unset;
    margin: unset; }
    .mobile-only .slate-form__wrapper .action button.default {
      min-width: 9.375rem;
      padding: 1.25rem;
      font-size: 1.5rem;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem; }

/*# sourceMappingURL=style.css.map */
