:root {
  --cu-red: #a50034;
  --white: #ffffff;
  --black: #231f20;
  --red: #a50031;
  --sand: #f6f2ea;
  --futura: "futura-pt", Arial, sans-serif;
  --mastheadImage: url(./images/mfa-doc-slider.jpeg); }

.text-bold {
  font-weight: bold; }

.text-muted {
  font-weight: 400; }

.text-muted--300 {
  font-weight: 300; }

.futura {
  font-family: var(--futura); }

.text-red {
  color: var(--red); }

.text-black {
  color: var(--black); }

.bg-sand {
  background-color: var(--sand); }

.bg-black {
  background-color: #231f20;
  background-color: var(--black);
  color: white; }

.faux-h2 {
  font-weight: bold; }

.cu-nav {
  font-family: var(--futura); }

.cu-nav__inner {
  display: flex;
  justify-content: center;
  align-items: center; }

.cu-nav__logo img {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px; }

.cu-mastead {
  max-height: 500px;
  margin: 0;
  color: var(--white);
  font-family: var(--futura);
  background-image: var(--mastheadImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position: static;
  position: relative;
  min-height: 550px;
  top: 0;
  margin-top: 0;
  padding-top: 0;
  -webkit-mask-size: 100% 100%; }

.cu-masthead__header {
  display: grid;
  grid-template-columns: 35% 60%; }

.cu-masthead__header--wrapper {
  background-image: url(images/wave_border_bottom.png);
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: end;
  padding-top: 10px;
  padding-bottom: 10px; }

.cu-masthead__wrapper {
  height: 100%; }

.cu-masthead__label {
  grid-column: 2;
  max-width: 500px;
  font-weight: bold;
  font-size: 30px;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-self: center; }

.slate-form__wrapper {
  z-index: 2;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  max-width: 500px;
  position: absolute;
  margin-left: 20%;
  margin-top: -150px;
  width: 400px;
  transition: 300ms ease all; }
  .slate-form__wrapper > div:first-child {
    position: absolute;
    background-color: var(--white);
    font-family: var(--futura); }
  .slate-form__wrapper label.form_label {
    font-weight: bold; }
    @media only screen and (max-width: 1300px) {
      .slate-form__wrapper label.form_label {
        min-width: 12vw; } }
  .slate-form__wrapper input {
    border: 2px solid lightgrey;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    color: white; }
  .slate-form__wrapper select {
    border: 2px solid lightgrey;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    color: black;
    background-image: none !important; }
  .slate-form__wrapper .action {
    display: flex;
    justify-content: center; }
    .slate-form__wrapper .action button.default {
      background-color: var(--red);
      color: var(--white);
      border: none;
      border-radius: 4px;
      font-family: var(--futura);
      min-width: 80px;
      font-size: 20px;
      padding: 4px;
      cursor: pointer; }
  .slate-form__wrapper form {
    padding: 30px;
    padding-bottom: 20px; }
  .slate-form__wrapper .form_label {
    font-size: 16px; }

.slate-form__wrapper[data-sticky="true"] {
  position: fixed;
  top: 0;
  transform: scale(1.01);
  margin-top: 40px; }

.slate-form__wrapper[data-sticky="stuck"] {
  transition: none;
  position: relative;
  top: 0;
  margin-top: -200px; }

.slate-form__wrapper[data-sticky="none"] {
  transition: none;
  position: fixed; }

section {
  position: relative;
  display: grid;
  grid-template-columns: 49.5% 60%;
  font-family: var(--futura);
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px; }
  section > div {
    grid-column: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 580px;
    min-width: 580px; }
  section .program-stat {
    margin-right: 40px; }
  section .program-stat__value {
    margin-left: 48px; }
  section .icon {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 12px;
    font-size: 30px; }

section.program-info {
  background-color: var(--sand); }

section.why {
  background-color: var(--sand); }

section.testimonial__wrapper {
  background-color: var(--sand); }

section__stats {
  display: flex; }

ul.why {
  list-style: none;
  padding-left: 0;
  margin-top: 20px; }
  ul.why .icon {
    margin-right: 24px;
    color: #a50031;
    color: var(--red); }
  ul.why li {
    padding: 12px; }

.testimonial {
  display: grid;
  grid-template-columns: 20% 80%; }
  .testimonial img {
    place-self: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover; }

.testimonial__photo-wrapper {
  display: flex;
  place-content: center; }

.testimonial__text {
  margin-left: 40px;
  grid-column: 2; }

.testimonial__name {
  margin-left: 40px;
  grid-column: 2;
  margin-top: 20px; }

.bottom-cta {
  font-family: var(--futura);
  display: grid;
  padding: 30px;
  justify-content: center;
  font-size: 24px; }

.bottom-cta__text-wrapper {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bottom-cta__text-wrapper > div {
    margin-top: 30px; }
  .bottom-cta__text-wrapper > a {
    margin-top: 30px; }

.bottom-cta__description {
  max-width: 750px; }

.bottom-cta__cta {
  background-color: #a50031;
  background-color: var(--red);
  max-width: max-content;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: normal;
  min-width: 250px;
  color: #ffffff;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 30px; }

.desktop-only {
  display: block; }
  .desktop-only--fixed {
    position: fixed; }

.mobile-only {
  display: none; }
  .mobile-only .slate-form__wrapper[data-sticky="true"] {
    position: relative;
    top: unset; }
  .mobile-only .slate-form__wrapper {
    max-width: 100%;
    min-width: unset;
    margin: unset; }
    .mobile-only .slate-form__wrapper > div:first-child {
      position: relative;
      height: 100%; }
    .mobile-only .slate-form__wrapper .action button.default {
      min-width: 150px;
      padding: 10px;
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 20px; }
  .mobile-only div {
    position: relative;
    width: 100%; }
  .mobile-only form {
    padding-bottom: 0; }

button.default {
  background: #a50034;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  color: white;
  border: none;
  font-size: 18px; }

button:focus {
  background-color: #231f20; }
button:hover {
  background-color: #231f20; }

input {
  width: 100%;
  height: 50px;
  font-size: 18px; }

select {
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat; }
  select:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0; }

select#form_1904b06e-7de4-4224-95a2-bded1972ddb7 {
  color: black; }

div.form_p .form_label {
  font-weight: normal;
  font-size: 20px; }

@media only screen and (max-width: 1300px) {
  .cu-nav__logo img {
    width: 100%;
    height: auto; }

  .cu-masthead__header {
    grid-template-columns: unset; }

  .cu-masthead__header--wrapper {
    min-height: 300px; }

  .cu-masthead__label {
    min-height: 210px;
    max-width: 80vw;
    place-content: center;
    place-items: center;
    align-items: center;
    justify-content: center;
    display: flex; }

  .slate-form__wrapper input {
    width: 100%; }
  .slate-form__wrapper select {
    width: 100%; }

  section.why {
    background-color: #ffffff;
    background-color: var(--white); }

  section {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .testimonial {
    display: block; }
    .testimonial img {
      margin-bottom: 20px; }

  .testimonial__text {
    margin-left: 0; }

  .testimonial__name {
    margin-left: 0; }

  .desktop-only {
    display: none; }

  .mobile-only {
    display: block;
    height: auto; } }
@media only screen and (max-width: 600px) {
  .cu-masthead__label {
    justify-self: left;
    max-width: 80vw; } }
@media only screen and (max-width: 1400px) {
  .slate-form__wrapper {
    margin-left: 40px; } }
@media only screen and (max-width: 581px) {
  section > div {
    max-width: 80vw;
    min-width: 80vw; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    font-family: "futura-pt", Arial, sans-serif; }

  .cu-masthead__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
    justify-content: right;
    text-align: left;
    flex-direction: column; }

  .cu-masthead__label {
    color: white;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    /*Center horizontaly ie */
    -ms-flex-pack: center;
    min-height: 150px;
    height: 150px;
    padding-right: 230px; }

  .slate_form_wrapper {
    background-color: white;
    min-height: 100px;
    display: flex;
    align-items: center; }

  [data-sticky="true"] {
    position: fixed;
    margin-top: 10px; }

  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
    justify-content: right;
    text-align: left;
    flex-direction: column; }
    section > div {
      padding-right: 100px; }

  .testimonial {
    display: block;
    display: -ms-grid;
    -ms-grid-column: 2;
    -ms-grid-row: 1; }

  .testimonial__text {
    -ms-grid-column: 2; }

  .testimonial__name {
    -ms-grid-column: 2;
    -ms-grid-row: 2; }

  .bottom-cta {
    display: block; } }
@media only screen and (-ms-high-contrast: active) and (max-width: 1300px), only screen and (-ms-high-contrast: none) and (max-width: 1300px) {
  .cu-masthead__label {
    min-height: 300px;
    height: 300px;
    width: 100%;
    max-width: 100%;
    padding-right: 0; }

  section {
    display: block; }
    section > div {
      max-width: 80vw;
      min-width: auto;
      padding-left: 100px;
      padding-right: 100px; }

  .mobile-only .slate-form__wrapper {
    margin-left: 0; }
  .mobile-only [data-sticky="true"] {
    position: relative;
    top: 0; }

  .testimonial__text {
    max-width: 500px;
    padding-left: 80px; }

  .testimonial__name {
    padding-left: 80px; } }
iframe {
  max-width: 100%; }

input,
.slate-form__wrapper,
.mobile-only {
  color: black !important; }

/*# sourceMappingURL=style.css.map */
