// RESETS
.section,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// END RESETS
// Chapman CSS Vars
:root {
  --cu-red: #a50034;
  --white: #ffffff;
  --black: #231f20;
  --red: #a50031;
  --sand: #f6f2ea;
  --futura: "futura-pt", Arial, sans-serif;
}
// End Chapman CSS Vars

// Utility Classes
.text-bold {
  font-weight: bold;
}
.text-muted {
  font-weight: 400;
}
.text-muted--300 {
  font-weight: 300;
}
.futura {
  font-family: var(--futura);
}
.text-red {
  color: var(--red);
}
.text-black {
  color: var(--black);
}
.bg-sand {
  background-color: var(--sand);
}
.bg-black {
  background-color: var(--black);
  color: white;
}
.faux-h2 {
  font-weight: bold;
}
// End Utility Classes

// NAV
.cu-nav {
  font-family: var(--futura);
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    img {
      height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
// END NAV
// MASTHEAD
.cu-mastead {
  max-height: 500px;
  margin: 0;
  color: var(--white);
  font-family: var(--futura);
  background-image: url("./images/mfa-doc-slider.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position: fixed;
  position: relative;
  min-height: 550px;
  top: 0;
  margin-top: 0;
  padding-top: 0;

  // mask-image: url(https://www.chapman.edu/_files/img/hero-panels/fallback-images/masthead-wave-gradient.png);
  // -webkit-mask-image: url(https://www.chapman.edu/_files/img/hero-panels/fallback-images/masthead-wave-gradient.png);

  -webkit-mask-size: 100% 100%;
}

.cu-masthead__header {
  display: grid;
  grid-template-columns: 40% 60%;

  &--wrapper {
    background-image: url(images/wave_border_bottom.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: end;
  }
}

.cu-masthead {
  &__wrapper {
    height: 600px;
  }
  &__label {
    grid-column: 2;
    max-width: 550px;
    font-weight: bold;
    font-size: 30px;
    min-height: 80px;
  }
}
// END MASTHEAD

// SLATE FORM
.slate-form {
  &__wrapper {
    z-index: 2;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    max-width: 500px;
    position: absolute;
    margin-left: 10%;
    margin-top: -150px;
    width: 400px;

    // Set via JS
    &[data-sticky="true"] {
      position: sticky;
      top: 0;
    }

    // This is the first div which is generated by by Slate's JS Embed
    & > div:first-child {
      position: absolute;
      background-color: var(--white);
      font-family: var(--futura);
    }
    label.form_label {
      font-weight: bold;
    }
    .action {
      display: flex;
      justify-content: center;
      button.default {
        background-color: var(--red);
        color: var(--white);
        border: none;
        border-radius: 4px;
        font-family: var(--futura);
        min-width: 80px;
        font-size: 16px;
        padding: 4px;
      }
    }
    form {
      padding: 30px;
    }
  }
}
// These classes are also generated by Slate's JS Embed

// End these classes are also generated by Slate's JS Embed
// END SLATE FORM
// PROGRAM INFO
.program-info {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  font-family: var(--futura);
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  & > div {
    grid-column: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 580px;
  }
  &__stats {
    display: flex;
  }
  .program-stat {
    margin-right: 40px;

    &__value {
      margin-left: 48px;
    }
  }

  .icon {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 12px;
    font-size: 30px;
  }
}
ul.why {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  .icon {
    margin-right: 24px;
    color: var(--red);
  }
  li {
    padding: 12px;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: 20% 80%;

  &__photo-wrapper {
    display: flex;
    place-content: center;
  }

  img {
    place-self: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
  }
  &__text {
    margin-left: 40px;
    grid-column: 2;
  }
  &__name {
    margin-left: 40px;
    grid-column: 2;
    margin-top: 20px;
  }
}
// END PROGRAM INFO

// BOTTOM CTA
.bottom-cta {
  font-family: var(--futura);
  display: grid;
  padding: 50px;
  justify-content: center;
  font-size: 24px;

  &__text-wrapper {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div,
    & > a {
      margin-top: 20px;
    }
  }
  &__description {
    max-width: 750px;
  }
  &__cta {
    background-color: var(--red);
    max-width: max-content;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    min-width: 250px;
    color: var(--white);
    text-decoration: none;
  }
}
// END BOTTOM CTA
