.section,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --cu-red: #a50034;
  --white: #ffffff;
  --black: #231f20;
  --red: #a50031;
  --sand: #f6f2ea;
  --futura: "futura-pt", Arial, sans-serif; }

.text-bold {
  font-weight: bold; }

.text-muted {
  font-weight: 400; }

.text-muted--300 {
  font-weight: 300; }

.futura {
  font-family: var(--futura); }

.text-red {
  color: var(--red); }

.text-black {
  color: var(--black); }

.bg-sand {
  background-color: var(--sand); }

.bg-black {
  background-color: var(--black);
  color: white; }

.faux-h2 {
  font-weight: bold; }

.cu-nav {
  font-family: var(--futura); }
  .cu-nav__inner {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cu-nav__logo img {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px; }

.cu-mastead {
  max-height: 500px;
  margin: 0;
  color: var(--white);
  font-family: var(--futura);
  background-image: url("./images/mfa-doc-slider.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position: fixed;
  position: relative;
  min-height: 550px;
  top: 0;
  margin-top: 0;
  padding-top: 0;
  -webkit-mask-size: 100% 100%; }

.cu-masthead__header {
  display: grid;
  grid-template-columns: 40% 60%; }
  .cu-masthead__header--wrapper {
    background-image: url(images/wave_border_bottom.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: end; }

.cu-masthead__wrapper {
  height: 600px; }
.cu-masthead__label {
  grid-column: 2;
  max-width: 550px;
  font-weight: bold;
  font-size: 30px;
  min-height: 80px; }

.slate-form__wrapper {
  z-index: 2;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  max-width: 500px;
  position: absolute;
  margin-left: 5%;
  margin-top: -150px;
  width: 400px; }
  .slate-form__wrapper[data-sticky="true"] {
    position: sticky;
    top: 0; }
  .slate-form__wrapper > div:first-child {
    position: absolute;
    background-color: var(--white); }

.program-info {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  font-family: var(--futura);
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .program-info > div {
    grid-column: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 580px; }
  .program-info__stats {
    display: flex; }
  .program-info .program-stat {
    margin-right: 40px; }
    .program-info .program-stat__value {
      margin-left: 48px; }
  .program-info .icon {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 12px;
    font-size: 30px; }

ul.why {
  list-style: none;
  padding-left: 0;
  margin-top: 20px; }
  ul.why .icon {
    margin-right: 24px;
    color: var(--red); }
  ul.why li {
    padding: 12px; }

.testimonial {
  display: grid;
  grid-template-columns: 20% 80%; }
  .testimonial__photo-wrapper {
    display: flex;
    place-content: center; }
  .testimonial img {
    place-self: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover; }
  .testimonial__text {
    margin-left: 40px;
    grid-column: 2; }
  .testimonial__name {
    margin-left: 40px;
    grid-column: 2;
    margin-top: 20px; }

.bottom-cta {
  font-family: var(--futura);
  display: grid;
  padding: 50px;
  justify-content: center;
  font-size: 24px; }
  .bottom-cta__text-wrapper {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .bottom-cta__text-wrapper > div, .bottom-cta__text-wrapper > a {
      margin-top: 20px; }
  .bottom-cta__description {
    max-width: 750px; }
  .bottom-cta__cta {
    background-color: var(--red);
    max-width: max-content;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    min-width: 250px;
    color: var(--white);
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
